body {
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 100px auto 0;
}

.border {
  border: 1px solid black;
}

button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.movies-form {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

input {
  margin: 10px;
  padding: 5px;
  background: #e0e0e0;
  border: 1px solid black;
}
